<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SMTPServer" value="" />
    <add key="SMTPRequiresAuthentication" value="false" />
    <add key="SMTPUseSsl" value="true" />
    <add key="SMTPPort" value="587" />
    <add key="SMTPUser" value="email@example.com" />
    <add key="SMTPPassword" value="" />
    <add key="SMTPTimeoutInMilliseconds" value="30000" />
    <add key="SmtpPreferredEncoding" value="" />
  </appSettings>
</configuration>